@import url('https://font.googleapis.com/css2?family-Roboto&display-swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html{
    background-color: #ececec;
    font-family: 'Roboto', sans-serif;
}
#body{
    height: 100%;
}
#head{
    position: fixed;
    top:0;
    right:0;
    width:100%;
    background-color: #262200;
    box-shadow: 0px 5px rgba(255, 204, 51, 0.5);
}
#logo{
    margin-left: 10%;
}
#slogan{
    float:right;
    margin-right: 10%;
    color:#fc3;
    font-family: 'Montserrat', sans-serif;

}
table{
    margin-top: 110px;
    width:75%;
    border-collapse: separate;
    border-spacing: 15px 15px;
}
.img{
    display: block;
    width: 33%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.text {
    text-align: center;
    font-size: 16px;
    padding: 16px 32px;
    border: 5px solid #fc3;
    border-radius: 5px;
    margin-bottom: 10px;
}
.middle a{
    text-decoration: none;
    color:#262200;
}
.text:hover{
    transition-duration: 400ms;
    background-color: #fc3;
}
.middle a{
    text-decoration: none;
    color:#262200;
}
.text2:hover{
    transition-duration: 400ms;
    background-color:#fc3;
}
.image{
    width:100%;
    border-radius: 5px;
}





#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: #262200;
  border: none;
  border-radius: 0;
  display: block;
  width: 75%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid #fc3;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: #262200;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 75%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}
#bar{
    margin-top: 25px;
    margin-bottom: 25px;
    width:75%;
    height:5px;
    background-color: #fc3;
}
footer{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:#262200;
}